-@ val body: String

!!!
html
  head
    title RacoonBot
    link(href="css/base.css" rel="stylesheet")
  body
    #content
      h1.title Welcome to the Telegram @racoon_bot api server!
      != body
